@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: rgb(110, 109, 109);        /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(3, 3, 3);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(3, 104, 255);  /* creates padding around scroll thumb */
  }
.active {
  position: relative;
  @apply text-[#3b82f6];
  @apply font-bold;
}
a::after{
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #3b82f6;
  border-radius: 2px;
}
.active::after{
  width: 100%;
}
@media (max-width:767px) {
  a::after{
    bottom:-8px;
    margin-inline: 8px;
  }
}
